/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.showTitle{
    color: #FFFFFF;
}



.homePageColHeight{
    height: 400px;
    vertical-align: bottom;

}

.homePageNav a:hover
{
    color: #fff200;
    cursor: pointer;
}


.showHeader{
    background-image:url(../images/header.png);
    background-repeat: repeat-x;
    height: 88px;

}

.showBackground{
    background-color: #FFFFFF;
    height: 100%;
}

.showPageHrule{
    background-image: url(../images/section_divider.png);
    background-repeat: repeat-x;
    height: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.valignBottom{
    vertical-align: bottom;
    display: table-cell;
}

.gallerSocialButtonVAlignment{
    padding-top: 70px;
    vertical-align: bottom;
    display: table-cell;
    height: 80px;
}

#carouselCaption{
    vertical-align: bottom;
    display: table-cell;
    height: 120px;
    padding-top: 10px;
}


.showPagePressDivider{

    background-image: url(../images/black_rule.png);
    background-repeat: no-repeat;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;

}


/*
p {

    font-size: 2.5vw;
}

*/


.itemList ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;;
}


.itemList li{
    display: block;
    float: left;
    padding-right: 23px;

    margin: 0;
    vertical-align: top;


}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .pressListItems ul{
        padding-bottom: 20px;
    }

    .pressListItems li{
        padding-right: 5px;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    .itemList li:first-child {
        padding-left: 95px;
    }


    .pressListItems li:first-child{
        padding-left: 30px;
    }

    .pressListItems li{
        padding: 20px;
    }



}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .itemList li:first-child {
        padding-left: 285px;
    }

    .pressListItems li:first-child{
        padding-left: 115px;
    }

    .navRow{
        padding-left: 80px;
    }

    .showPagePressDivider{
        width: 800px;
    }


}



#pressInfo {

    background-color: #FFFFFF;

    padding-bottom: 20px;
    padding-top: 20px;

}

#pressInfo a {
    color: #000000;
}

#pressInfo a:hover {
    color: #1EACEA;
    text-decoration: none;
}

.showTitlePadding{

    padding-top: 40px;



}


@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
    .carousel{

        width: 800px;
        height: 540px;
        margin: 0 auto;
    }

    .captionWidth{

        width: 400px;
        height: 200px;
    }



}

.carousel-indicators .active {
    background-color: #000000;
}

.carousel-indicators li {
    border: 1px solid #000000;
}


.ourvideo{
    position: absolute
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}



.footerImage{
    background-image: url("../images/footer.png");
   /* width: 1200px;*/
    height: 47px;
    background-repeat: repeat-x;

}


.linkHover:hover
{
    cursor: pointer;
}


.contactFooter{
    color: #000000;
}





a.nav-expander {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    margin-right: 0;
    padding: 1em 1.6em 2em;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    transition: right 0.3s ease-in-out 0s;
    width: 130px;
    z-index: 12;

    transition: right 0.3s ease-in-out 0s;
    -webkit-transition: right 0.3s ease-in-out 0s;
    -moz-transition: right 0.3s ease-in-out 0s;
    -o-transition: right 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
    cursor: pointer;
}

a.nav-expander.fixed {
    position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    right: 20em;
}



nav {
    background: #2d2f33;
    display: block;
    height: 100%;
    overflow: auto;
    position: fixed;
    right: -20em;
    font-size: 15px;
    top: 0;
    width: 20em;
    z-index: 2000;

    transition: right 0.3s ease-in-out 0s;
    -webkit-transition: right 0.3s ease-in-out 0s;
    -moz-transition: right 0.3s ease-in-out 0s;
    -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded nav {
    right: 0;
}

body.nav-expanded {
    margin-left: 0em;
    transition: right 0.4s ease-in-out 0s;
    -webkit-transition: right 0.4s ease-in-out 0s;
    -moz-transition: right 0.4s ease-in-out 0s;
    -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding-right: 10px;
}


.wrap {
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wrap.active {
    right: 16em;
}
a.menu-link {
    float: right;
    display: block;
    padding: 1em;
}
nav[role=navigation] {
    background: #808080;
    color: #fff;
    padding: 1em;
    clear: both;
    overflow: hidden;
}
.js nav[role=navigation] {
    width: 16em;
    height: 100%;
    position: absolute;
    top: 0;
    right: -16em;
}
.lorem {
    clear: both;
}

@media screen and (min-width: 48.25em) {
    a.menu-link {
        display: none;
    }
    .js nav[role=navigation] {
        position: static;
        float: right;
        width: 30%;
        height: 100%;

    }
    .wrap.active {
        left: 0;
    }
    nav[role=navigation] ul {
        margin: 0;
        border: 0;
    }

    nav[role=navigation] li a {
        border: 0;
    }
    .lorem {
        clear: none;
        margin-right: 30%;
    }
}



#homePageDisclaimer ul{
    margin: 0;
    padding: 0;

}

#homePageDisclaimer li {
    display: block;
    float: left;
    padding-left: 10px;
}



.videoLoginForm ul{
    margin: 0;
    padding: 0;
}

.videoLoginForm li{
    display: block;
    float: left;


}

#vid_overlay{
    position:absolute;

    left: 0px;
    width:820px;
    height:474px;
    background-color:#000;
    z-index:30;
    padding-left: 13%;
    padding-top: 8%;
    /*
    float:left;
    padding-left: 170px;
    padding-top: 170px;
    */
}

.white{
    color: #FFFFFF;
}

.videoInstructions{
    color: #00b9ec;
}

.pressListItems ul{
    list-style-type: none;;
    margin: 0;
    padding: 0;
}


.pressListItems li{
    display: block;
    float: left;
    padding-right: 20px;
}



