

      <div class="row ">
          <div class="col-lg-12 col-xs-12 col-sm-12 "  style="margin-top: 100px">
              <p class="text-center"><img src="images/tca_logo_homapage.png" ></p>

          </div>
      </div>





     <div class="row">
         <div class="col-lg-4 col-sm-2 col-xs-1 "></div>
         <div class="col-lg-2 col-sm-4 col-xs-11  homePageNav" style="margin-top: 50px" >
             <p class="text-center"><img src="images/mtv_logo_homepage.png"></p>
             <h4 class="text-center"><a ng-click="loadShow('/mtv/FindingCarter')"  class="showTitle">Finding Carter</a></h4>
             <!--  -->
             <h4 class="text-center"><a   class="showTitle" ng-click="loadShow('/mtv/Happyland')">Happyland</a></h4>
             <h4 class="text-center"><a ng-click="loadShow('/mtv/VirginTerritory')"  class="showTitle">Virgin Territory</a></h4>
         </div>


         <div class="col-lg-2 col-sm-4 col-xs-12 text-left homePageNav" style="margin-top: 50px">
             <p class="text-center"><img src="images/vh1_logo_homepage.png"></p>

             <!--  -->
             <h4 class="text-center"><a  class="showTitle homePageNav" ng-click="loadShow('/vh1/CandidlyNicole')">Candidly Nicole</a></h4>
             <h4 class="text-center"><a ng-click="loadShow('/vh1/LeAnn&Eddie')"  class="showTitle">LeAnn & Eddie</a></h4>
             <h4 class="text-center"><a class="showTitle">&nbsp;</a></h4>
         </div>
         <div class="col-lg-4 col-sm-2 col-xs-0 "></div>
     </div>

      <div class="row homePageNav" style="margin-bottom: 20px;">
          <div class="col-lg-6 col-sm-2 col-xs-0 " style="margin-left: 70px;"></div>
          <div class="col-lg-5 col-sm-5 col-xs-12" style="margin-top: 70px">
              <a href="#" class="contactFooter" data-toggle="modal" data-target="#myModal">Disclaimer/Contacts</a>
              &nbsp;&nbsp;&nbsp;
              <a href="http://blog.viacom.com" class="contactFooter" target="_blank">blog.viacom.com</a>
              &nbsp;&nbsp;&nbsp;
              <a href="https://twitter.com/viacom" target="_blank"><img src="images/twitter_transparent.png"></a>
              &nbsp;
              <a href="https://www.facebook.com/Viacom" target="_blank"><img src="images/facebook_transparent.png"></a>
              &nbsp;
              <a href="https://plus.google.com/101912816446011877718/posts" target="_blank"><img src="images/g_plus_transparent.png"></a>
          </div>

      </div>





  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">TCA DISCLAIMER AND CONTACTS</h4>
              </div>
              <div class="modal-body">

                  <p>All materials on this site are the copyrighted property of, or licensed to, Viacom. They are for editorial use only. Any duplication or distribution other than in context with your editorial product is prohibited.
                      These images may not be sold, distributed or stored by any other organizations or agencies.
                      Credit, as indicated on the caption, must appear with the use of each photograph.
                      If you have any questions or problems with this site, please contact:</p>
                  <p>
                      Daina Amorosano <br>
                      212-846-2811 (office) / 347-931-6733 (mobile) <br>
                      <a href="mailto:daina.amorosano@viacom.com">daina.amorosano@viacom.com</a>
                  </p>
                  <p>
                      Neena Koyen <br>
                      212-846-8458 (office) / 917-648-5646 (mobile)<br>
                      <a href="mailto:neena.koyen@viacom.com">neena.koyen@viacom.com</a>
                  </p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
          </div>
      </div>
  </div>