
<div class="row" ng-controller="showPageCtrl">
<div class="row showHeader">
    <div class="col-lg-2 col-xs-0 col-sm-1"></div>
    <div class="col-lg-7 col-xs-9 col-sm-9"> <img ng-click="loadShow('/')" src="images/viacom_title.png" class="img-responsive linkHover viacomLogo"></div>
    <div class="col-lg-3 col-xs-3 col-sm-2 navRow text-left">
        <img src="images/hamburger_icon.png"  id="hamburger_icon" ng-click="getSlider()">
    </div>

</div>


<div class="row showBackground showTitlePadding">
    <div class="col-lg-2 col-sm-1 col-xs-0"></div>
    <div class="col-lg-2 col-sm-8 col-xs-4"><img ng-click="loadShow('/')" src="{{networkLogo}}" class="linkHover img-responsive"></div>
    <div class="col-lg-8 col-sm-8 col-xs-8" ><h3>{{showName}}</h3></div>
</div>

<!--IMAGES   -->

<div class="row showBackground">
    <div class="col-lg-2 col-sm-1"></div>
    <div class="col-lg-2 col-sm-2"><h3>Images</h3></div>
    <div class="col-lg-8 col-sm-9"></div>
</div>


<div class="row showBackground">

    <div class="col-lg-2 col-sm-1"></div>
    <div class="col-lg-2 col-sm-9">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">


            <!-- Wrapper for slides -->

            <div class="carousel-inner">
                <div class="item" ng-repeat="image in images" data-ng-class="{active: $index == 0}">
                    <img src="{{ image.picture }}"  width="800" height="472" class="img-responsive">
                    <!--
                    <div class="carousel-caption">
                        <h3>{{image.caption}}</h3>
                        <p>{{image.credit}}</p>
                    </div>
                    -->

                    <!-- Controls -->

                    <a class="left carousel-control" ng-click="getPrevImage()" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" ng-click="getNextImage()" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>


            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-repeat="image in images" data-ng-class="{active: $index == 0}"></li>
            </ol>
        </div>

    </div>
    <div class="col-lg-8 col-sm-2"></div>
</div>
<div class="row showBackground">
    <div class="col-lg-2 col-xs-1 col-sm-1"></div>
    <div class="col-lg-3 col-xs-12 col-sm-4" id="carouselCaption"></div>
    <div class="col-lg-7 col-xs-14 col-sm-7 itemList text-right">

        <ul>
            <li><a id="downloadGalleryButton" ng-click="downloadImage()"  class="linkHover" target="_self"><img src="images/download_button_transparent.png" ></a></li>
            <li><a href="{{twitterMsg}}" onclick="window.open(this.href,'_blank','width=600,height=400');return false"><img src="images/twitter_transparent.png" class="linkHover"></a></li>
            <li>
                <a href="http://www.facebook.com/sharer.php?u=http://press.viacom.com/tca/index.html" class="likeit" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title=""><img alt="Share-fb" src="images/facebook_transparent.png" /></a>
            </li>
        </ul>

    </div>
</div>



<div class="row showTitlePadding showBackground">
    <br><br>
    <div class="col-lg-12 showPageHrule"></div>
</div>


<!-- PRESS  -->
<div class="row showBackground">
    <div class="col-lg-2 col-sm-1"></div>
    <div class="col-lg-4 col-sm-4"><h3>Press Releases/Bios</h3></div>
    <div class="col-lg-6 col-sm-7"></div>
</div>


<div id="pressContainer"  ng-repeat="press in releases">
    <div class="row showBackground" id="pressInfo">

        <div class="col-lg-2   col-sm-1"></div>

        <div class="col-lg-1  col-xs-3 col-sm-2" >

            <img src="{{press.thumbnail}}"  class="img img-responsive" width="89" height="89">
        </div>
        <div class="col-lg-5  col-xs-7 col-sm-5">
            <a href="{{press.link}}" target="_blank">{{press.caption}}</a>
        </div>

        <div class="col-lg-4  col-xs-2 col-sm-4 pressListItems">
            <ul>
                <li class="valignBottom"> <a href="{{twitterMsg}}" onclick="window.open(this.href,'_blank','width=600,height=400');return false"><img src="images/twitter_transparent.png"></a></li>
                <li>
                    &nbsp;<a href="http://www.facebook.com/sharer.php?u=http://press.viacom.com/tca/index.html" class="likeit" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title=""><img alt="Share-fb" src="images/facebook_transparent.png" /></a>
                </li>
            </ul>
        </div>

    </div>


    <div class="row showBackground">
        <div class="col-lg-2 col-xs-0 col-sm-1"></div>
        <div class="col-lg-8 col-xs-12 col-sm-9 ">
            <div class="showPagePressDivider "></div>
        </div>
        <div class="col-lg-2 col-xs-0 col-sm-2"></div>
    </div>

</div>


<div class="row showBackground">
    <div class="col-xs-12 showPageHrule"></div>
</div>
<!-- /PRESS -->


<!-- VIDEOS -->
<div id="videoContainer">
    <div class="row showBackground">
        <div class="col-lg-2 col-sm-1"></div>
        <div class="col-lg-4 col-sm-4"><h3>Videos</h3></div>
        <div class="col-lg-6 col-sm-7"></div>
    </div>



    <div class="row showBackground">

        <div class="col-lg-2 col-xs-0 col-sm-1"></div>
        <div class="col-lg-7 col-xs-9 col-sm-9" >

            <div ng-controller='HomeCtrl'>
                <jwplayer id="myplayer" setup="options">

                </jwplayer>
            </div>

        </div>
        <div class="col-lg-2 col-xs-3 col-sm-2"></div>


    </div>
    <div class="row showBackground">
        <div class="col-lg-2 col-xs-0 col-sm-1"></div>
        <div class="col-lg-8 col-xs-12 col-sm-9" ><br><br><p>{{videoCaption}}</p></div>
        <div class="col-lg-1 col-xs-0 col-sm-2"></div>
    </div>
</div>




<div class="row showBackground">
    <div class="col-lg-2 col-xs-0 col-sm-1"></div>
    <div class="col-lg-7 col-xs-12 col-sm-9 ">
        <div class="showPagePressDivider "></div>
    </div>
    <div class="col-lg-2 col-xs-0 col-sm-2"></div>

    <!-- /VIDEOS -->
</div>

<div class="row  showBackground">

    <div class="col-lg-2 col-xs-0 col-sm-1"></div>
    <div class="col-lg-5 col-xs-12 col-sm-6">
        <a  class="contactFooter" data-toggle="modal" data-target="#myModal">Disclaimer/Contacts</a>
        &nbsp;&nbsp;&nbsp;
        <a href="http://blog.viacom.com" class="contactFooter" target="_blank">blog.viacom.com</a>



        <br><br>
    </div>
    <div class="col-lg-4 col-xs-12 col-sm-4 text-right footerSocialIcons">
        <ul>
            <li><a href="https://twitter.com/viacom" target="_blank"><img src="images/twitter_transparent.png"></a></li>
            <li><a href="https://www.facebook.com/Viacom" target="_blank"><img src="images/facebook_transparent.png"></a></li>
            <li><a href="https://plus.google.com/101912816446011877718/posts" target="_blank"><img src="images/g_plus_transparent.png"></a></li>
        </ul>






    </div>
    <div class="col-lg-1 col-xs-0 col-sm-1"></div>

</div>

<!-- FOOTER -->
<div class="row showBackground">

    <div class="col-xs-12 footerImage img-responsive"> </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">TCA DISCLAIMER AND CONTACTS</h4>
            </div>
            <div class="modal-body">

                <p>All materials on this site are the copyrighted property of, or licensed to, Viacom. They are for editorial use only. Any duplication or distribution other than in context with your editorial product is prohibited.
                    These images may not be sold, distributed or stored by any other organizations or agencies.
                    Credit, as indicated on the caption, must appear with the use of each photograph.
                    If you have any questions or problems with this site, please contact:</p>

                <p>
                    Daina Amorosano <br>
                    212-846-2811 (office) / 347-931-6733 (mobile) <br>
                    <a href="mailto:daina.amorosano@viacom.com">daina.amorosano@viacom.com</a>
                </p>
                <p>
                    Neena Koyen <br>
                    212-846-8458 (office) / 917-648-5646 (mobile)<br>
                    <a href="mailto:neena.koyen@viacom.com">neena.koyen@viacom.com</a>
                </p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- scrolling side nav -->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <a ><img src="images/mtv_logo_tranparent.png" ></a>

    <a   ng-click="loadShow('/mtv/FindingCarter')" class="linkHover">Finding Carter</a>
    <!--  -->
    <a   class="linkHover"  ng-click="loadShow('/vh1/Happyland')">Happyland</a>
    <a   ng-click="loadShow('/mtv/VirginTerritory')">Virgin Territory</a>


    <a ><img src="images/vh1_logo_transparent.png" ></a>

    <!--  -->
    <a  class="showTitle" ng-click="loadShow('/vh1/CandidlyNicole')">Candidly Nicole</a>
    <a ng-click="loadShow('/vh1/LeAnn&Eddie')"  class="linkHover">LeAnn & Eddie</a>
</nav>

<!-- /scrolling side nav -->
